body {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: $color-primary-dark;
  background-color: $color-light;
}
.header__heading-primary {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;

  &--main {
    color: $color-white;
    display: block;
    font-size: 7rem;
    letter-spacing: 1.5rem;
    font-weight: 600;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    color: $color-primary-dark;
    display: block;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary
  );
  color: transparent;
  letter-spacing: 0.2rem;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  &--highlight{
    font-size: 2rem;
    color: $color-highlight;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
