//COLORS
// $color-primary: #17b978;
// $color-primary-dark: #086972;
// $color-primary-light: #a7ff83;

$color-primary: #00bcd4;
$color-primary-dark: #590995;
$color-primary-light: #b2ebf2;
$color-highlight:#10ddc2;

$color-green-dark:#17b978;
$color-green-light:#a7ff83;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;



$color-light: #e8ffff;
$color-dark: #071a52;
$color-white: #ffffff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

//GRID
$grid-width:140rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

//FONT
$default-font-size:1.8rem;