
/*
COLORS 

#071a52
#086972
#17b978
#a7ff83
#e8ffff
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color:#071a52;
  
  background-color: #e8ffff;
}

.header{
  height:95vh;
  margin: 30px;
  background-image:linear-gradient(to right bottom,#a6ff83dc,#17b978dc), url('./images/smart-background.jpg');
  background-position: top;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
